In [5]:
%matplotlib inline
import pandas as pd

In [6]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [7]:
%%time
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)

CPU times: user 7.91 s, sys: 533 ms, total: 8.44 s
Wall time: 9.15 s

In [8]:
cast.head()

,title,year,name,type,character,n
0,The Core,2003,Alejandro Abellan,actor,U.S.S. Soldier,NaN
1,Il momento di uccidere,1968,Remo De Angelis,actor,Dago,9
2,Across the Divide,1921,Thomas Delmar,actor,Dago,4
3,Revan,2012,Diego James,actor,Dago,NaN
4,Un homme marche dans la ville,1950,Fabien Loris,actor,Dago,12

In [9]:
%%time
release_dates = pd.read_csv('data/release_dates.csv', index_col=None,
                            parse_dates=['date'], infer_datetime_format=True)

CPU times: user 1.89 s, sys: 72.4 ms, total: 1.96 s
Wall time: 2.04 s

In [10]:
release_dates.head()

                 title  year  country       date
0       3orthographies  2013   Canada 2013-05-20
1       11 Minutes (I)  2014      USA 2014-05-27
2  A Gypsy Girl's Love  1908      USA 1908-08-08
3      A Woman Scorned  1999      USA 1999-08-05
4      A Woman Scorned  1999  Germany 2000-04-09

In [28]:
titles = cast[['title', 'year']].drop_duplicates().reset_index(drop=True)
titles.head()

                           title  year
0                       The Core  2003
1         Il momento di uccidere  1968
2              Across the Divide  1921
3                          Revan  2012
4  Un homme marche dans la ville  1950

### Titles

In [34]:
titles.title.value_counts().head(15)

Hamlet                  19
The Kiss                19
Vengeance               16
Popular Science (II)    15
Popular Science (I)     15
Macbeth                 14
Easy Money              14
Carmen                  14
David                   14
Deception               14
Resurrection            14
The Best Man            14
The Stranger            13
Secrets                 13
The Tell-Tale Heart     13
dtype: int64