In [33]:
import pandas as pd
pd.read_csv?

In [35]:
df1 = pd.read_csv('sample.csv')
df1.columns = map(str.lower, df.columns)
df1

                    title  year          director
0      North by Northwest  1959  Alfred Hitchcock
1               Notorious  1946  Alfred Hitchcock
2    Arsenic and Old Lace  1944       Frank Capra
3  The Philadelphia Story  1940      George Cukor
4                 Charade  1963     Stanley Donen
5        Bringing Up Baby  1938      Howard Hawks
6        To Catch a Thief  1955  Alfred Hitchcock
7         His Girl Friday  1940      Howard Hawks

In [26]:
df1.dtypes

Title       object
Year         int64
Director    object
dtype: object

In [44]:
df1.groupby('director')

In [45]:
df1.groupby('director').head()  # looks the same!

                    title  year          director
0      North by Northwest  1959  Alfred Hitchcock
1               Notorious  1946  Alfred Hitchcock
2    Arsenic and Old Lace  1944       Frank Capra
3  The Philadelphia Story  1940      George Cukor
4                 Charade  1963     Stanley Donen
5        Bringing Up Baby  1938      Howard Hawks
6        To Catch a Thief  1955  Alfred Hitchcock
7         His Girl Friday  1940      Howard Hawks

In [51]:
df1.groupby('director').head().equals(df1)

True

In [52]:
df1.reindex_axis(df1.director)

                 title  year director
director
Alfred Hitchcock   NaN   NaN      NaN
Alfred Hitchcock   NaN   NaN      NaN
Frank Capra        NaN   NaN      NaN
George Cukor       NaN   NaN      NaN
Stanley Donen      NaN   NaN      NaN
Howard Hawks       NaN   NaN      NaN
Alfred Hitchcock   NaN   NaN      NaN
Howard Hawks       NaN   NaN      NaN

In [61]:
list(df1.groupby('director'))

[('Alfred Hitchcock',                 title  year          director
  0  North by Northwest  1959  Alfred Hitchcock
  1           Notorious  1946  Alfred Hitchcock
  6    To Catch a Thief  1955  Alfred Hitchcock),
 ('Frank Capra',                   title  year     director
  2  Arsenic and Old Lace  1944  Frank Capra),
 ('George Cukor',                     title  year      director
  3  The Philadelphia Story  1940  George Cukor),
 ('Howard Hawks',               title  year      director
  5  Bringing Up Baby  1938  Howard Hawks
  7   His Girl Friday  1940  Howard Hawks),
 ('Stanley Donen',      title  year       director
  4  Charade  1963  Stanley Donen)]

In [63]:
df1.groupby('director').get_group('Alfred Hitchcock')

                title  year          director
0  North by Northwest  1959  Alfred Hitchcock
1           Notorious  1946  Alfred Hitchcock
6    To Catch a Thief  1955  Alfred Hitchcock

In [64]:
df1.groupby('director').first()

                                   title  year
director
Alfred Hitchcock      North by Northwest  1959
Frank Capra         Arsenic and Old Lace  1944
George Cukor      The Philadelphia Story  1940
Howard Hawks            Bringing Up Baby  1938
Stanley Donen                    Charade  1963

In [65]:
df1.groupby('director').last()

                                   title  year
director
Alfred Hitchcock        To Catch a Thief  1955
Frank Capra         Arsenic and Old Lace  1944
George Cukor      The Philadelphia Story  1940
Howard Hawks             His Girl Friday  1940
Stanley Donen                    Charade  1963

In [96]:
df1.groupby('director').max()

                                   title  year
director
Alfred Hitchcock        To Catch a Thief  1959
Frank Capra         Arsenic and Old Lace  1944
George Cukor      The Philadelphia Story  1940
Howard Hawks             His Girl Friday  1940
Stanley Donen                    Charade  1963

In [97]:
df1.groupby('director').max().ix['Alfred Hitchcock']

title    To Catch a Thief
year                 1959
Name: Alfred Hitchcock, dtype: object

In [98]:
df2 = df1.groupby(['director', df.index]).first()
df2

                                     title  year
director
Alfred Hitchcock 0      North by Northwest  1959
                 1               Notorious  1946
                 6        To Catch a Thief  1955
Frank Capra      2    Arsenic and Old Lace  1944
George Cukor     3  The Philadelphia Story  1940
Howard Hawks     5        Bringing Up Baby  1938
                 7         His Girl Friday  1940
Stanley Donen    4                 Charade  1963

In [99]:
df2.ix['Alfred Hitchcock']

                title  year
0  North by Northwest  1959
1           Notorious  1946
6    To Catch a Thief  1955

In [100]:
df2.ix['Alfred Hitchcock',6]

title    To Catch a Thief
year                 1955
Name: (Alfred Hitchcock, 6), dtype: object

In [106]:
df1.groupby('director')['year'].agg([('first_year', min), ('last_year', max)])

                  first_year  last_year
director
Alfred Hitchcock        1946       1959
Frank Capra             1944       1944
George Cukor            1940       1940
Howard Hawks            1938       1940
Stanley Donen           1963       1963

In [112]:
df1.groupby('director').agg({'title': min, 'year': max})

                                   title  year
director
Alfred Hitchcock      North by Northwest  1959
Frank Capra         Arsenic and Old Lace  1944
George Cukor      The Philadelphia Story  1940
Howard Hawks            Bringing Up Baby  1940
Stanley Donen                    Charade  1963

In [115]:
df3 = df1.groupby(['director', 'title']).first()
df3

                                         year
director         title
Alfred Hitchcock North by Northwest      1959
                 Notorious               1946
                 To Catch a Thief        1955
Frank Capra      Arsenic and Old Lace    1944
George Cukor     The Philadelphia Story  1940
Howard Hawks     Bringing Up Baby        1938
                 His Girl Friday         1940
Stanley Donen    Charade                 1963

In [116]:
df4 = df1.groupby(['director', 'year']).first()
df4

                                        title
director         year
Alfred Hitchcock 1946               Notorious
                 1955        To Catch a Thief
                 1959      North by Northwest
Frank Capra      1944    Arsenic and Old Lace
George Cukor     1940  The Philadelphia Story
Howard Hawks     1938        Bringing Up Baby
                 1940         His Girl Friday
Stanley Donen    1963                 Charade

In [122]:
df1.groupby(['director', 'title', 'year']).first()

Empty DataFrame
Columns: []
Index: []

In [140]:
s1 = df1.stack()
s1

0  title           North by Northwest
   year                          1959
   director          Alfred Hitchcock
1  title                    Notorious
   year                          1946
   director          Alfred Hitchcock
2  title         Arsenic and Old Lace
   year                          1944
   director               Frank Capra
3  title       The Philadelphia Story
   year                          1940
   director              George Cukor
4  title                      Charade
   year                          1963
   director             Stanley Donen
5  title             Bringing Up Baby
   year                          1938
   director              Howard Hawks
6  title             To Catch a Thief
   year                          1955
   director          Alfred Hitchcock
7  title              His Girl Friday
   year                          1940
   director              Howard Hawks
dtype: object

In [142]:
s2 = df1.unstack()
s2

title     0        North by Northwest
          1                 Notorious
          2      Arsenic and Old Lace
          3    The Philadelphia Story
          4                   Charade
          5          Bringing Up Baby
          6          To Catch a Thief
          7           His Girl Friday
year      0                      1959
          1                      1946
          2                      1944
          3                      1940
          4                      1963
          5                      1938
          6                      1955
          7                      1940
director  0          Alfred Hitchcock
          1          Alfred Hitchcock
          2               Frank Capra
          3              George Cukor
          4             Stanley Donen
          5              Howard Hawks
          6          Alfred Hitchcock
          7              Howard Hawks
dtype: object

In [146]:
df3.stack()

director          title
Alfred Hitchcock  North by Northwest      year    1959
                  Notorious               year    1946
                  To Catch a Thief        year    1955
Frank Capra       Arsenic and Old Lace    year    1944
George Cukor      The Philadelphia Story  year    1940
Howard Hawks      Bringing Up Baby        year    1938
                  His Girl Friday         year    1940
Stanley Donen     Charade                 year    1963
dtype: int64

In [148]:
df3.unstack()

                                 year                           \
title            Arsenic and Old Lace Bringing Up Baby Charade
director
Alfred Hitchcock                  NaN              NaN     NaN
Frank Capra                      1944              NaN     NaN
George Cukor                      NaN              NaN     NaN
Howard Hawks                      NaN             1938     NaN
Stanley Donen                     NaN              NaN    1963

                                                               \
title            His Girl Friday North by Northwest Notorious
director
Alfred Hitchcock             NaN               1959      1946
Frank Capra                  NaN                NaN       NaN
George Cukor                 NaN                NaN       NaN
Howard Hawks                1940                NaN       NaN
Stanley Donen                NaN                NaN       NaN


title            The Philadelphia Story To Catch a Thief
director
Alfred Hitchcock                    NaN             1955
Frank Capra                         NaN              NaN
George Cukor                       1940              NaN
Howard Hawks                        NaN              NaN
Stanley Donen                       NaN              NaN