In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
%%time
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)

CPU times: user 6.92 s, sys: 613 ms, total: 7.54 s
Wall time: 8.13 s

In [4]:
cast.head()

,title,year,name,type,character,n
0,The Core,2003,Alejandro Abellan,actor,U.S.S. Soldier,NaN
1,Il momento di uccidere,1968,Remo De Angelis,actor,Dago,9
2,Across the Divide,1921,Thomas Delmar,actor,Dago,4
3,Revan,2012,Diego James,actor,Dago,NaN
4,Un homme marche dans la ville,1950,Fabien Loris,actor,Dago,12

In [5]:
%%time
release_dates = pd.read_csv('data/release_dates.csv', index_col=None,
                            parse_dates=['date'], infer_datetime_format=True)

CPU times: user 1.68 s, sys: 59.5 ms, total: 1.74 s
Wall time: 1.87 s

In [6]:
release_dates.head()

                 title  year  country       date
0       3orthographies  2013   Canada 2013-05-20
1       11 Minutes (I)  2014      USA 2014-05-27
2  A Gypsy Girl's Love  1908      USA 1908-08-08
3      A Woman Scorned  1999      USA 1999-08-05
4      A Woman Scorned  1999  Germany 2000-04-09