In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
titles = pd.DataFrame.from_csv('titles.csv', index_col=None)
titles.head()

                 title  year
0       3orthographies  2013
1       11 Minutes (I)  2014
2        A Lélek órása  1923
3  A Gypsy Girl's Love  1908
4      A Woman Scorned  1999

In [4]:
cast = pd.DataFrame.from_csv('cast.csv', index_col=None)
cast.head()

                           title               name   type       character   n
0                       The Core  Alejandro Abellan  actor  U.S.S. Soldier NaN
1         Il momento di uccidere    Remo De Angelis  actor            Dago   9
2              Across the Divide      Thomas Delmar  actor            Dago   4
3                          Revan        Diego James  actor            Dago NaN
4  Un homme marche dans la ville       Fabien Loris  actor            Dago  12

In [5]:
titles.index

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...], dtype='int64')