In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                          title  year
0                 A Lélek órása  1923
1  Aizaugusa gravi viegli krist  1986
2                     Agliyorum  1988
3                         0_1_0  2008
4              97 fung lau mung  1994

In [4]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

,title,year,name,type,character,n
0,The Core,2003,Alejandro Abellan,actor,U.S.S. Soldier,NaN
1,Il momento di uccidere,1968,Remo De Angelis,actor,Dago,9
2,Across the Divide,1921,Thomas Delmar,actor,Dago,4
3,Revan,2012,Diego James,actor,Dago,NaN
4,Un homme marche dans la ville,1950,Fabien Loris,actor,Dago,12

In [5]:
# How many movies are listed in the titles dataframe?

len(titles)

306705

In [6]:
# What are the earliest two films listed in the titles dataframe?

titles.sort('year').head(2)

                                                    title  year
172161                                         Miss Jerry  1894
207934  Reproduction of the Corbett and Fitzsimmons Fight  1897

In [7]:
# How many movies have the title "Hamlet"?

len(titles[titles.title == 'Hamlet'])

19

In [8]:
# How many movies are titled "North by Northwest"?

len(titles[titles.title == 'North by Northwest'])

1

In [9]:
# When was the first movie titled "Hamlet" made?

titles[titles.title == 'Hamlet'].sort('year').head(1)

         title  year
104882  Hamlet  1910

In [10]:
# List all of the "Treasure Island" movies from earliest to most recent.

titles[titles.title == 'Treasure Island'].sort('year')

                  title  year
285800  Treasure Island  1918
277236  Treasure Island  1920
286174  Treasure Island  1934
287490  Treasure Island  1950
285791  Treasure Island  1972
290784  Treasure Island  1973
285646  Treasure Island  1985
279936  Treasure Island  1999
306581  Treasure Island  2001

In [11]:
# How many movies were made in the year 1950?

len(titles[titles.year == 1950])

1690

In [12]:
# How many movies were made in the year 1960?

len(titles[titles.year == 1960])

2298

In [13]:
# How many movies were made from 1950 through 1959?

t = titles
len(t[(t.year >= 1950) & (t.year <= 1959)])

19657

In [14]:
len(t[t.year // 10 == 195])

19657

In [15]:
# In what years has a movie titled "Batman" been released?

t = titles
t[t.title == 'Batman']

         title  year
24368   Batman  1989
28556   Batman  1943
305595  Batman  1966

In [16]:
# How many roles were there in the movie "Inception"?

c = cast
len(c[c.title == 'Inception'])

72

In [17]:
# How many roles in the movie "Inception" are NOT ranked by an "n" value?

c = cast
c = c[c.title == 'Inception']
c = c[c.n.isnull()]
len(c)

21

In [18]:
# But how many roles in the movie "Inception" did receive an "n" value?

c = cast
c = c[c.title == 'Inception']
c = c[c.n.notnull()]
len(c)

51

In [19]:
# Display the cast of "North by Northwest" in their correct "n"-value order,
# ignoring roles that did not earn a numeric "n" value.

c = cast
c = c[c.title == 'North by Northwest']
c = c[c.n.notnull()]
c = c.sort('n')
c

,title,year,name,type,character,n
2352184,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1
3653986,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2
2687281,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3
3436191,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4
856585,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5
3224426,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6
2818665,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7
1055223,North by Northwest,1959,Martin Landau,actor,Leonard,8
2287500,North by Northwest,1959,Adam Williams,actor,Valerian,9
2834437,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10
1173306,North by Northwest,1959,Robert Ellenstein,actor,Licht,11
426646,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12
1894800,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13
2732031,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14
1667360,North by Northwest,1959,Edward Binns,actor,Captain Junket,15
2645199,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16

In [20]:
# Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

c = cast
c = c[c.title == 'Sleuth']
c = c[c.year == 1972]
c = c.sort('n')
c

,title,year,name,type,character,n
2815383,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1
1985407,Sleuth,1972,Michael Caine,actor,Milo Tindle,2
2004484,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3
2707066,Sleuth,1972,John Matthews (II),actor,Detective Sergeant Tarrant,4
3292907,Sleuth,1972,Eve Channing (III),actress,Marguerite Wyke,5
2693911,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6

In [21]:
# Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

c = cast
c = c[c.title == 'Sleuth']
c = c[c.year == 2007]
c = c.sort('n')
c

          title  year                 name     type          character   n
430333   Sleuth  2007        Michael Caine    actor             Andrew   1
396671   Sleuth  2007             Jude Law    actor               Milo   2
2130764  Sleuth  2007        Harold Pinter    actor        Man on T.V.   3
492100   Sleuth  2007    Carmel O'Sullivan  actress             Maggie NaN
1847755  Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V. NaN
2004485  Sleuth  2007  Alec Cawthorne (II)    actor  Inspector Doppler NaN
3292906  Sleuth  2007    Eve Channing (II)  actress    Marguerite Wyke NaN

In [22]:
# How many roles were credited in the silent 1921 version of Hamlet?

c = cast
c = c[(c.title == 'Hamlet') & (c.year == 1921)]
len(c)

9

In [23]:
# How many roles were credited in Branagh’s 1996 Hamlet?

c = cast
c = c[(c.title == 'Hamlet') & (c.year == 1996)]
len(c)

55

In [24]:
# How many "Hamlet" roles have been listed in all film credits through history?

c = cast
c = c[c.character == 'Hamlet']
len(c)

91

In [25]:
# How many people have played an "Ophelia"?

c = cast
c = c[c.character == 'Ophelia']
len(c)

95

In [26]:
# How many people have played a role called "The Dude"?

c = cast
c = c[c.character == 'The Dude']
len(c)

18

In [27]:
# How many people have played a role called "The Stranger"?

c = cast
c = c[c.character == 'The Stranger']
len(c)

203

In [28]:
# How many roles has Sidney Poitier played throughout his career?

c = cast
c = c[c.name == 'Sidney Poitier']
len(c)

43

In [29]:
# How many roles has Judi Dench played?

c = cast
c = c[c.name == 'Judi Dench']
len(c)

51

In [30]:
# List the supporting roles (having n=2) played by Cary Grant in the 1940s,
# in order by year.

c = cast
c = c[c.name == 'Cary Grant']
c = c[c.year // 10 == 194]
c = c[c.n == 2]
c = c.sort('year')
c

                    title  year        name   type    character  n
420012   My Favorite Wife  1940  Cary Grant  actor         Nick  2
1875608    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2

In [31]:
# List the leading roles that Cary Grant played in the 1940s in order by year.

c = cast
c = c[c.name == 'Cary Grant']
c = c[c.year // 10 == 194]
c = c[c.n == 1 ]
c = c.sort('year')
c

,title,year,name,type,character,n
2097169,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1
2371689,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1
2055456,The Philadelphia Story,1940,Cary Grant,actor,C.K. Dexter Haven,1
295106,Suspicion,1941,Cary Grant,actor,Johnnie,1
2338350,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1
2333172,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1
2336382,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1
2379680,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1
370252,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1
1759326,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1
1550743,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1
2342009,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1
1212545,Notorious,1946,Cary Grant,actor,Devlin,1
2364748,Night and Day,1946,Cary Grant,actor,Cole Porter,1
1113324,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1
247177,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick,1
2346458,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1
1954836,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1
2374287,I Was a Male War Bride,1949,Cary Grant,actor,Capt. Henri Rochard,1

In [32]:
# How many roles were avilable for actors in the 1950s?

c = cast
c = c[c.year // 10 == 195]
c = c[c.type == 'actor']
len(c)

178789

In [33]:
# How many roles were avilable for actresses in the 1950s?

c = cast
c = c[c.year // 10 == 195]
c = c[c.type == 'actress']
len(c)

69946

In [34]:
# How many leading roles (n=1) were available
# from the beginning of film history through 1980?

c = cast
c = c[c.year <= 1980]
c = c[c.n == 1]
len(c)

79087

In [35]:
# How many non-leading roles were available through
# from the beginning of film history through 1980?

c = cast
c = c[c.year <= 1980]
c = c[c.n != 1]
len(c)

1292652

In [36]:
# How many roles through 1980 were minor enough
# that they did not warrant a numeric "n" rank?

c = cast
c = c[c.year <= 1980]
c = c[c.n.isnull()]
len(c)

503281